In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
df=pd.read_csv('predict_admission.csv')

In [57]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [59]:
df.isnull().count()

Serial No.           500
GRE Score            500
TOEFL Score          500
University Rating    500
SOP                  500
LOR                  500
CGPA                 500
Research             500
Chance of Admit      500
dtype: int64

In [60]:
df.shape

(500, 9)

In [61]:
i = df.iloc [:,1:8].values
d = df.iloc[:,-1]

In [62]:
i

array([[337.  , 118.  ,   4.  , ...,   4.5 ,   9.65,   1.  ],
       [324.  , 107.  ,   4.  , ...,   4.5 ,   8.87,   1.  ],
       [316.  , 104.  ,   3.  , ...,   3.5 ,   8.  ,   1.  ],
       ...,
       [330.  , 120.  ,   5.  , ...,   5.  ,   9.56,   1.  ],
       [312.  , 103.  ,   4.  , ...,   5.  ,   8.43,   0.  ],
       [327.  , 113.  ,   4.  , ...,   4.5 ,   9.04,   0.  ]])

In [63]:
d

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit , Length: 500, dtype: float64

In [68]:
from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split (i, d, test_size = .10,random_state=0)
x_test

array([[318.  , 106.  ,   2.  ,   4.  ,   4.  ,   7.92,   1.  ],
       [321.  , 114.  ,   4.  ,   4.  ,   5.  ,   9.12,   0.  ],
       [321.  , 111.  ,   3.  ,   2.5 ,   3.  ,   8.9 ,   1.  ],
       [328.  , 116.  ,   5.  ,   4.5 ,   5.  ,   9.08,   1.  ],
       [301.  , 102.  ,   3.  ,   2.5 ,   2.  ,   8.13,   1.  ],
       [314.  , 105.  ,   3.  ,   3.5 ,   2.5 ,   8.3 ,   0.  ],
       [298.  , 101.  ,   2.  ,   1.5 ,   2.  ,   7.86,   0.  ],
       [302.  , 110.  ,   3.  ,   4.  ,   4.5 ,   8.5 ,   0.  ],
       [297.  , 100.  ,   1.  ,   1.5 ,   2.  ,   7.9 ,   0.  ],
       [324.  , 105.  ,   3.  ,   3.  ,   4.  ,   8.75,   0.  ],
       [317.  , 103.  ,   2.  ,   2.5 ,   2.  ,   8.15,   0.  ],
       [320.  , 104.  ,   3.  ,   3.  ,   2.5 ,   8.57,   1.  ],
       [314.  , 102.  ,   2.  ,   2.  ,   2.5 ,   8.24,   0.  ],
       [313.  , 109.  ,   3.  ,   4.  ,   3.5 ,   9.  ,   0.  ],
       [334.  , 117.  ,   5.  ,   4.  ,   4.5 ,   9.07,   1.  ],
       [297.  ,  96.  ,   2.  ,   2.5 ,   1.5 ,   7.89,   0.  ],
       [323.  , 110.  ,   4.  ,   4.  ,   5.  ,   8.88,   1.  ],
       [317.  , 106.  ,   2.  ,   2.  ,   3.5 ,   8.12,   0.  ],
       [326.  , 108.  ,   3.  ,   3.  ,   3.5 ,   8.89,   0.  ],
       [300.  , 105.  ,   1.  ,   1.  ,   2.  ,   7.8 ,   0.  ],
       [295.  ,  99.  ,   2.  ,   2.5 ,   3.  ,   7.65,   0.  ],
       [320.  , 104.  ,   3.  ,   3.5 ,   4.5 ,   8.34,   1.  ],
       [296.  , 101.  ,   1.  ,   2.5 ,   3.  ,   7.68,   0.  ],
       [331.  , 116.  ,   5.  ,   5.  ,   5.  ,   9.38,   1.  ],
       [322.  , 110.  ,   5.  ,   5.  ,   4.  ,   9.1 ,   1.  ],
       [318.  , 110.  ,   1.  ,   2.5 ,   3.5 ,   8.54,   1.  ],
       [325.  , 114.  ,   4.  ,   3.  ,   2.  ,   8.4 ,   0.  ],
       [311.  ,  98.  ,   1.  ,   1.  ,   2.5 ,   7.46,   0.  ],
       [306.  , 100.  ,   2.  ,   3.  ,   3.  ,   8.  ,   0.  ],
       [304.  , 100.  ,   2.  ,   2.5 ,   3.5 ,   8.07,   0.  ],
       [316.  , 103.  ,   2.  ,   2.  ,   4.5 ,   8.74,   0.  ],
       [296.  ,  99.  ,   2.  ,   3.  ,   3.5 ,   7.28,   0.  ],
       [301.  , 106.  ,   4.  ,   2.5 ,   3.  ,   8.47,   0.  ],
       [323.  , 110.  ,   5.  ,   4.  ,   5.  ,   8.98,   1.  ],
       [315.  , 105.  ,   2.  ,   2.  ,   2.5 ,   7.65,   0.  ],
       [298.  , 101.  ,   4.  ,   2.5 ,   4.5 ,   7.69,   1.  ],
       [328.  , 108.  ,   4.  ,   4.5 ,   4.  ,   9.18,   1.  ],
       [324.  , 113.  ,   4.  ,   4.5 ,   4.5 ,   9.25,   1.  ],
       [300.  , 102.  ,   3.  ,   3.5 ,   2.5 ,   8.17,   0.  ],
       [310.  , 104.  ,   3.  ,   2.  ,   3.5 ,   8.37,   0.  ],
       [314.  , 107.  ,   2.  ,   2.5 ,   4.  ,   8.27,   0.  ],
       [329.  , 114.  ,   5.  ,   4.  ,   5.  ,   9.3 ,   1.  ],
       [330.  , 116.  ,   4.  ,   4.  ,   3.5 ,   9.23,   1.  ],
       [316.  , 110.  ,   3.  ,   3.5 ,   4.  ,   8.56,   0.  ],
       [327.  , 112.  ,   3.  ,   3.  ,   3.  ,   8.72,   1.  ],
       [324.  , 107.  ,   4.  ,   4.  ,   4.5 ,   8.87,   1.  ],
       [333.  , 119.  ,   5.  ,   5.  ,   4.5 ,   9.78,   1.  ],
       [326.  , 116.  ,   3.  ,   3.5 ,   4.  ,   9.14,   1.  ],
       [309.  , 111.  ,   2.  ,   2.5 ,   4.  ,   8.03,   0.  ],
       [314.  , 106.  ,   2.  ,   4.  ,   3.5 ,   8.25,   0.  ]])

In [69]:
from sklearn.linear_model import LinearRegression
lnr = LinearRegression()
lnr.fit (x_train, y_train ) 

predicted_y = lnr.predict(x_test)
print("predicted y records:")
print(predicted_y)

predicted y records:
[0.65913382 0.83129492 0.7785418  0.87712939 0.61027451 0.64840728
 0.53743366 0.69905688 0.53119466 0.74218847 0.6136431  0.71090402
 0.622768   0.75727196 0.88018218 0.51861776 0.81994366 0.64261636
 0.76252942 0.53846166 0.52091031 0.71868769 0.52593217 0.91853304
 0.83566271 0.72452935 0.70284945 0.50663557 0.58546336 0.59701225
 0.72040057 0.48939872 0.65953301 0.83765792 0.56504657 0.59856646
 0.84248826 0.86637037 0.59930063 0.65921113 0.66706297 0.8972898
 0.86584699 0.72169952 0.77269393 0.80347977 0.96898907 0.84912699
 0.64200412 0.65725838]

In [70]:

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from math import sqrt
print("RMSE is:-")

print('Mean Absolute Error(MAE):', mean_absolute_error(y_test, predicted_y))
print('Mean Squared Error(MSE):', mean_squared_error(y_test, predicted_y))
print('Root Mean Squared Error(RMSE):', np.sqrt(mean_squared_error(y_test, predicted_y)))

RMSE is:-
Mean Absolute Error(MAE): 0.042394182400061285
Mean Squared Error(MSE): 0.0028000548701641024
Root Mean Squared Error(RMSE): 0.052915544693068244